<html>
    <head>
        <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=5uQbAffakTOIS4lajJId&submodules=geocoder"></script>
        <script>
            $(document).ready(function() {
            if (navigator.geolocation) { // GPS를 지원하면
                navigator.geolocation.getCurrentPosition(function(position) {
                    
                    lat = position.coords.latitude;
                    lng = position.coords.longitude;
                    
                    document.getElementById('latitude').value=lat;
                    document.getElementById('longitude').value=lng;
                    document.getElementById('position-form').submit();
                })
            }
            });
        </script>
    </head>
    <body>
        <form id="position-form" action="/first" method="post">
            <input type="hidden" id = "latitude" name="latitude" value="0" />
            <input type="hidden" id = "longitude" name="longitude" value="0" />
        </form>
    </body>
</html>